<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Edit #
            <%= dog.name %>!</h1>
        <form action="/update/<%= dog._id %>" method="POST">
            <div class="form-group row">
                <div class="col-sm-10">
                    <label for="name" class="col-sm-2-form-label">Dog Name:</label>
                    <input type="text" name="name" class="form-control" id="name" value="<%= dog.name %>">
                </div>
                <div class="col-sm-10">
                    <label for="weight" class="col-sm-2-form-label">Dog Weight:</label>
                    <input type="text" name="weight" class="form-control" id="weight" value="<%= dog.weight %>">
                </div>
                <div class="col-sm-10">
                    <label for="color" class="col-sm-2-form-label">Dog Color:</label>
                    <input type="text" name="color" class="form-control" id="color" value="<%= dog.color%>">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Update</button>

        </form>
        <a class="btn btn-outline-success" href="/mongooses/<%= dog._id %>" role="button">Show</a>
        <a class="btn btn-outline-success" href="/">Home</a>
    </div>

</body>

</html>